<!--
  Generated template for the AttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <ion-title>Attendance({{grade}})</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="submit()">
        <ion-icon name="send" color="light"> </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding color="secondary">

  <!-- <ion-item ion-fixed padding>
    Students
    <button ion-button clear icon-only (click)="submit()" item-right>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-item> -->
    <ion-list>
      <ion-list-header round color="secondary" position-fixed>
        {{today}} - Attendance
      </ion-list-header>

      <ion-item *ngFor="let std of students">
        <ion-label>{{std.name}}</ion-label>
        <!-- <ion-checkbox formControlName="student" color="secondary" [checked]="std.presentFlag"></ion-checkbox> -->
        <ion-toggle [(ngModel)]="std.presentFlag" [(checked)]="std.presentFlag" item-end></ion-toggle>

        <ion-avatar item-start>
          <img *ngIf="std.gender === 'male'" [src]="maleAvatarUrl">
          <img *ngIf="std.gender === 'female'" [src]="femaleAvatarUrl">
        </ion-avatar>
      </ion-item>

    </ion-list>

</ion-content>


<!-- <div formArrayName="items"
  *ngFor="let item of orderForm.get('items').controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Item name">
    <input formControlName="description" placeholder="Item description">
    <input formControlName="price" placeholder="Item price">
  </div>

  Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
</div> -->
