page-attendance {
    ion-card-header{
        background-color: #7eaba4;
        color:#f4eade;
    }

    ion-card-header.ion-label{
        color:#f4eade;
    }
    ion-icon {
        color: #347c83;
    }
}
