page-select-class {
    ion-card-header{
        background-color: #7eaba4;
        color:#f4eade;
    }

    ion-list-header{
        color:#f4eade;
    }
    ion-icon {
        color: #347c83;
    }
    .btn-absent {
        color:#f4eade;
        background-color:red;
        border-radius: 40%;
        margin: 0;
    }
    .btn-present {
        color:#f4eade;
        background-color:green;
        border-radius: 40%;
        margin: 0;

    }
}
