page-select-class {
    ion-card-header{
        background-color: #7eaba4;
        color:#f4eade;
    }

    ion-list-header{
        color:#f4eade;
    }
    ion-icon {
        color: #347c83;
    }
}
